* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: lightblue;
}

h1 {
    background-color: dodgerblue;    
    color: white;
    text-align: center;
}

h2 {
    background-color: tomato;
    color: white;
    text-align: center;
}

p{
    color: white;
    font-family: verdana;
    font-size: 20px;
    text-align: center;
}
#para1 {
    border: 2px solid tomato;
    text-align: center;
    color: red;
}
p.center {
    text-align: center;
    color: red;
}
.card {
    margin: 10px;
    position: relative;
    height: 200px;
    width: 100px;
    border: 1px solid black;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    
  }

.computer-deck {
    background-color: green;
  }

.player-one-deck {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    border-radius: .5rem;
    color: white;
    user-select: none;
  }
  .pool-one-deck {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    border-radius: .5rem;
    color: white;
    user-select: none;
  }
  .player-two-deck {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    border-radius: .5rem;
    color: white;
    user-select: none;
  }

  
.change-button {
    display: flex;
    justify-content: center;
  }